@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.search-link {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.link {
    color: blue;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.link:hover {
    color: purple;
}

.world-map {
    display: flex;
    width: 100%;
}

.country-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    list-style: none;
    /*border: 1px solid black;*/
}

li {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 500px;
    height: 50px;

    margin-bottom: 15px;
    /*border: 1px solid black;*/
}

.flag-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.flag {

}


.country-name {
    margin-left: 5px;
    font-weight: bold;
}

.population {
    margin-left: 5px;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: #FFD435;
}

.purple {
    color: purple;
}

.black {
    color: black;
}

.flag {
    width: 50px;
}